:root {
  --primary-bg: #fff;
  --primary-text: #0d6efd;
  /* For body background only */
  --snow: linear-gradient(to bottom right, #2d419a, #1ce6f3, #2d419a);
  --snow-bg: #21b9db;
  --rain: linear-gradient(to bottom right, #159957, #155799, #159957);
  --rain-bg: #155799;
  --sunny: linear-gradient(to bottom right, #fdc830, #f37335, #fdc830);
  --sunny-bg: #f37335;
  --storm: linear-gradient(to bottom right, #bdc3c7, #2c3e50, #bdc3c7);
  --storm-bg: #2c3e50;
  --wind: linear-gradient(to bottom right, #a8c0ff, #3f2b96, #a8c0ff);
  --wind-bg: #a8c0ff;
  --clouds: linear-gradient(to bottom right, #8e9eab, #eef2f3, #8e9eab);
  --clouds-bg: #8e9eab;
}

::selection {
  color: #000;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", Helvetica, sans-serif;
  transition: all 0.2s ease-in;
}

body {
  background: #fff;
  height: 100vh;
}

.animateBg {
  background-size: 600% 600%;
  animation: gradient 6s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#heading {
  text-align: center;
  font-weight: 700;
}

.clip {
  background: linear-gradient(90deg, #007cf0, #00dfd8);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#cityInp:focus,
#searchBtn,
#detectLocation {
  box-shadow: none;
}

#weatherCard {
  padding: 20px;
  border-radius: 15px;
}

#weatherInfo {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn {
  border-width: 3px;
  border-radius: 9px;
}

#searchBtn {
  width: 100%;
  background-color: var(--primary-text);
}

#detectLocation:hover {
  background-color: transparent;
  color: #0d6efd;
}

#result {
  display: none;
  position: absolute;
  flex-direction: column;
  margin-top: 50px;
}

#result option {
  width: 100%;
  background-color: var(--primary-bg);
  border: 1px solid var(--primary-text);
  word-wrap: break-word;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1;
  color: var(--primary-text);
}

#result option:hover {
  background-color: var(--primary-text);
  color: var(--primary-bg);
}

#illustration {
  height: auto;
  width: 200px;
  -webkit-filter: drop-shadow(0 0 80px rgb(255, 234, 0, 0.8));
  filter: drop-shadow(0 0 80px rgba(255, 234, 0, 0.8));
}

#feelsLike {
  opacity: 0.7;
}
