:root {
  --primary-bg: #fff;
  --primary-text: #0d6efd;
  /* For body background only */
  --snow: linear-gradient(to bottom right, #2d419a, #1ce6f3);
  --snow-bg: #2d419a;
  --rain: linear-gradient(to bottom right, #159957, #155799);
  --rain-bg: #155799;
  --sunny: linear-gradient(to bottom right, #fdc830, #f37335);
  --sunny-bg: #f37335;
  --storm: linear-gradient(to bottom right, #bdc3c7, #2c3e50);
  --storm-bg: #2c3e50;
  --wind: linear-gradient(to bottom right, #a8c0ff, #3f2b96);
  --wind-bg: #a8c0ff;
  --clouds: linear-gradient(to bottom right, #8e9eab, #eef2f3);
  --clouds-bg: #8e9eab;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", Helvetica, sans-serif;
  transition: all 0.2s ease-in;
}

body {
  height: 100vh;
  background: var(--primary-bg) no-repeat;
  /* color: var(--primary-bg); */
}

#heading {
  text-align: center;
  font-weight: 700;
}

.clip {
  background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#weatherCard {
  padding: 20px;
  border-radius: 15px;
}

#weatherInfo {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#searchBtn {
  width: 100%;
  background-color: var(--primary-text);
}

#result {
  display: none;
  position: absolute;
  flex-direction: column;
  margin-top: 50px;
}

#result option {
  width: 100%;
  background-color: var(--primary-bg);
  border: 1px solid var(--primary-text);
  word-wrap: break-word;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1;
  color: var(--primary-text);
}

#result option:hover {
  background-color: var(--primary-text);
  color: var(--primary-bg);
}

#illustration {
  height: auto;
  width: 200px;
  -webkit-filter: drop-shadow(0 0 80px rgb(255, 234, 0, 0.8));
  filter: drop-shadow(0 0 80px rgba(255, 234, 0, 0.8));
}

#feelsLike {
  opacity: 0.7;
}
